<mat-card class="card-auth"
          [style]="themeObjectService.data.value.isDarkTheme ? 'background-color: black; color: white' : 'background-color: white; color: black'">
  <h2 style="text-align: center">Forget your password or Login?</h2>
  <form [formGroup]="reminderForm">
    <ng-template matStepLabel>Fill out your email address</ng-template>
    <mat-form-field [style]="themeObjectService.data.value.isDarkTheme ? 'width: 100%;box-shadow: 0 1px 0;' :'width: 100%'">
      <mat-label [style]="themeObjectService.data.value.isDarkTheme ? 'color: white' : 'color: black'">
        Email
      </mat-label>
      <input matInput
             placeholder="Email"
             [formControl]="email" required>
    </mat-form-field>
  </form>
  <button  mat-stroked-button
           aria-label="Show an example snack-bar"
           (click)="onRemindPassword(reminderForm)"
           [disabled]="reminderForm.invalid"
           style="left: 70%; background-color: white; margin-top: 5%">
    Send
  </button>
  <div *ngIf="error" class="card-auth-error">
    <a>{{error}}</a>
  </div>
</mat-card>
