<ion-header>
  <ion-toolbar>
    <ion-title>drinks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let drink of drinks">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label><img [src]="url+drink.path"
                      class="pizza-card-image"
      ></ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      {{drink.volume}}
      <h4>
        {{drink.name}} - {{drink.price}}
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
