.card-auth {
  padding: 10%;
  margin: 30% 2% 0 2%;
  box-shadow: 0 0 5px;

  &-link-reg {
    cursor: pointer;
    font-size: 12px;
    font-family: Candara;
  }

  &-link-reg:hover {
    color: gray;
  }

  &-error {
    color: red;
  }

  button:focus {
    outline: none;
  }

  &-link-rem {
    cursor: pointer;
    font-size: 12px;
    font-family: Candara;
  }

  &-link-rem:hover {
    color: gray;
  }
}
