<div class="pizza-cart-cart"
     [style]="themeService.data.value.isDarkTheme ? 'background-color: black; color: white' : 'background-color: white; color: black'">
  <div *ngFor="let element of cartElements">
    <div *ngIf="+element.pizzaId !== 0">
      <div *ngFor="let pizza of pizzas ">
        <div *ngFor="let price of pizzasPrise">
          <div *ngIf="pizza.id === +element.pizzaId && element.id === price.id" class="pizza-cart-cart-element">
            <app-cart-card-item [pizza]="pizza"
                                [cartElement]="element"
                                [pizzaPrice]="price.price"
                                (deletedItem)="onDeleteCart($event)">

            </app-cart-card-item>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="element.drinkId !== 0">
      <div *ngFor="let drink of drinks ">
        <div *ngIf="drink.id == element.drinkId" class="pizza-cart-cart-element">
          <app-cart-card-item [drink]="drink"
                              (deletedItem)="onDeleteCart($event)"
                              [cartElement]="element"></app-cart-card-item>
        </div>
      </div>
    </div>
    <div *ngIf="element.snackId !== 0">
      <div *ngFor="let snack of snacks ">
        <div *ngIf="snack.id == element.snackId" class="pizza-cart-cart-element">
          <app-cart-card-item [snack]="snack"
                              (deletedItem)="onDeleteCart($event)"
                              [cartElement]="element"></app-cart-card-item>
        </div>
      </div>
    </div>
    <div *ngIf="element.dessertId !== 0">
      <div *ngFor="let dessert of desserts ">
        <div *ngIf="dessert.id == element.dessertId" class="pizza-cart-cart-element">
          <app-cart-card-item [dessert]="dessert"
                              (deletedItem)="onDeleteCart($event)"
                              [cartElement]="element"></app-cart-card-item>
        </div>
      </div>
    </div>
  </div>
  <h2 style="margin-left: 40%">
    Total price: <a style="margin-left: 30%">{{themeService.data.value.totalPrice}}</a>
  </h2>
</div>
