<ion-header>
  <ion-toolbar [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-title>pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <ion-card  [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'"
             *ngFor="let pizza of pizzas">
    <ion-item [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        <img [src]="url+pizza.path"
                      class="pizza-card-image"
      ></ion-label>
      <ion-button fill="outline" slot="end" (click)="onPizzaDetail(pizza.id)">View</ion-button>
    </ion-item>

    <ion-card-content>
      {{pizza.description}}
      <h4>
        {{pizza.name}} - {{pizza.price}}
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
