<ion-header>
  <ion-toolbar>
    <ion-title>snack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let snack of snacks">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label><img [src]="url+snack.path"
                      class="pizza-card-image"
      ></ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      {{snack.description}}
      <h4>
        {{snack.name}} - {{snack.price}}
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
