<ion-header>
  <ion-toolbar [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-title>pizza-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!!pizza"
             [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-item [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label *ngIf="sizePizza">
        <div class="pizza-details-content">
          <ion-card-title>
            {{themeService.data.value.pizza.name}}({{sizePizza.name}})
            <br>
            Diameter: {{sizePizza.diameter}}cm, weight: {{sizePizza.weight}}gr.
          </ion-card-title>
        </div>
        <div [className]="classSize">
          <img [src]="sizeUrl+sizePizza.path" class="pizza-details-content-img">
        </div>
        <div class="pizza-details-content-stars">
          <app-stars
                     [pizzaId]="pizza.id"
                     (ratedPizza)="ratedPizza($event)"
                     [pizzaRating]="pizza.rating"></app-stars>
        </div>
      </ion-label>
    </ion-item>
    <ion-card-content *ngIf="sizePizza && pizza">
      <ion-card-subtitle class="pizza-details-content-desc">
        {{pizza.description}}
      </ion-card-subtitle>
      <ion-button fill="outline" (click)="onSmall()" slot="end">Small</ion-button>
      <ion-button fill="outline" (click)="onMedium()" slot="end">Medium</ion-button>
      <ion-button fill="outline" (click)="onLarge()" slot="end">Large</ion-button>
      <h4>
        {{sizePizza.diameter}} - {{sizePizza.weight}}
      </h4>
      <div class="pizza-details-content-ingredients" *ngIf="themeService.data.value.ingredients.length">
        <div *ngFor="let ingredient of themeService.data.value.ingredientsPizza">
          <div *ngFor="let ing of themeService.data.value.ingredients">
            <ion-card *ngIf="ingredient.id === +ing">
              <app-ingredient
                (click)="onAddClick(ingredient.name, ingredient.price)"
                [ingredient]="ingredient">
              </app-ingredient>
            </ion-card>
          </div>
        </div>
      </div>
      <ion-button fill="outline"
                  slot="end"
                  [disabled]="!themeService.data.value.userName.length"
                  (click)="onPayment()">
        Buy for {{themeService.data.value.pizzaPrice}}
      </ion-button>
      <ion-button fill="outline" slot="end" (click)="savePizzaInCart(pizzaId)">
        Add to cart {{themeService.data.value.pizzaPrice}}
      </ion-button>
      <ion-button fill="outline" slot="end" (click)="onComments()">
        {{!isOpenComments ? "Show Comments" : "Hide Comments"}}
      </ion-button>
      <div *ngIf="isOpenPayment">
        <app-payment [pizzaId]="+pizzaId"
                     [tittle]="pizza.name"
                     [volume]="sizePizza.diameter"
                     [price]="themeService.data.value.pizzaPrice"
                     [description]="pizza.description"></app-payment>
      </div>
      <div *ngIf="isOpenComments">
        <div *ngIf="!comments.length">
          No comments yet. Be the first!
        </div>
        <div *ngFor="let comment of comments">
          <app-comment (commentId)="deleteCommentById($event)"
                       (likedComment)="changeVoiceComment($event)"
                       (likeId)="deleteVoiceComment($event)"
                       [comment]="comment"></app-comment>
        </div>
        <ion-button (click)="onOpenCommentForm()"
                    [disabled]="!themeService.data.value.userName.length">
          {{!isOpenCommentForm ? "Write comment" : "Hide form"}}
        </ion-button>
        <div *ngIf="!!isOpenCommentForm">
          <app-comment-form
            [pizzaId]="pizzaId"
            (isOpenForm)="isOpenCommentsForm($event)"
            (comments)="newComments($event)"></app-comment-form>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
