<ion-card
  [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <form [formGroup]="comment">
    <ng-template>Creat comment</ng-template>
    <ion-item style="width: 100%"
              [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <ion-label>
        Tittle
      </ion-label>
      <ion-input placeholder="Tittle"
             [style]="themeService.data.value.isDarkTheme ? 'width: 100%;box-shadow: 0 1px 0;' :'width: 100%'"
             [formControl]="tittle" required>
      </ion-input>
    </ion-item>
    <ion-item style="width: 100%"
              [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <ion-label>
        Comment body
      </ion-label>
      <ion-textarea placeholder="Comment"
                    [formControl]="body" required></ion-textarea>
    </ion-item>
    <p *ngIf="!commentUser">
      <ion-button (click)="onSave(comment)">save</ion-button>
    </p>
    <p *ngIf="commentUser">
      <ion-button (click)="onUpdate(comment)">update</ion-button>
    </p>
  </form>
</ion-card>
