<ion-header>
  <ion-toolbar [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-title>user-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <ion-card
    [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <div class="example-sidenav">
      <ion-button (click)="onUserUpdate()">
       Profile
      </ion-button>
      <ion-button (click)="onBasket()">
        Cart
      </ion-button>
      <ion-button (click)="onPurchase()">
        Purchases
      </ion-button>
    </div>
    <div class="example-sidenav-content">
      <div *ngIf="isPurchasesOpen">
        <app-purchase-item [pizzas]="pizzas"
                           [desserts]="desserts"
                           [drinks]="drinks"
                           (deletedPurchaseId)="deletePurchase($event)"
                           [purchasesUser]="purchases"
                           [snacks]="snacks">
        </app-purchase-item>
      </div>
    </div>
    <p *ngIf="user">
      {{user.username}}
    </p>
    <div *ngIf="isUserInfoOpen">
      <app-user-card></app-user-card>
    </div>
  </ion-card>

</ion-content>
