<ion-header>
  <ion-toolbar [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-title>cart-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <div *ngIf="cartElements && cartElements.length">
    <div class="pizza-cart-page"
         *ngIf="isOpenCart">
      <app-cart-card [cartElements]="cartElements"
                     [desserts]="desserts"
                     [pizzas]="pizzas"
                     [drinks]="drinks" (deletedCartItem)="onDeleteCartItem($event)">

      </app-cart-card>
      <ion-button (click)="onAddressOpen()">Next</ion-button>
    </div>
    <ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <div class="pizza-cart-page-payment-content-user"
           *ngIf="isOpenAddressStep">
        <div class="pizza-cart-page-payment-content-user-name">
          Dear customer, {{principal.name }} {{principal.lastName}}, please check and
          confirm your data for delivery or change if data is wrong.
        </div>
        <br>
        <h2>Address for delivery:</h2>
        <p>Post code: {{principal.postCode + '\n'}}</p>
        <p>City: {{principal.city + '\n'}}</p>
        <p>Street: {{principal.address + '\n'}}</p>
        <br/>
        <div class="pizza-cart-page-payment-content-user-address">
          We will send you email on {{principal.email}} and call you
          on your phone number {{principal.phone}} when your order delivered.
        </div>
        <ion-button (click)="backToCart()">Back</ion-button>
        <ion-button (click)="onOpenPayment()">Next</ion-button>
      </div>
    </ion-card>
    <ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <div *ngIf="isOpenPayment">
      <ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
        <p>{{principal.name }} {{principal.lastName}}
          , input your name and number your card, data and CVC code.
        </p>
          <app-payment [price]="themeService.data.value.totalPrice"
                       [allCart]="cartElements"
                       [description]="cartElements | json"
                       [tittle]="'all elements in cart'"></app-payment>
        <ion-button (click)="backToAddressStep()">Back</ion-button>
      </ion-card>
    </div>
    </ion-card>
    <div *ngIf="cartElements > 0">
      <h1>
        Your cart is empty. Please add pizza to cart.
      </h1>
    </div>
  </div>
</ion-content>
