.pizza-cart-card-item{
  padding: 10% 0 10% 10%;
  &-delete{
    position: initial;
    left: 80%;

  }
  &-image{
    border-radius: 50%;
    width: 100px;
    margin: 5% 20% 5% 35%;
  }
  &-buttons{
    margin-left: 30%;
    font-size: 25px;
  }
  &-price{
    font-size: 35px;
    margin-left: 80%;
  }
}
