<ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
<div class="pizza-cart-card-item" *ngIf="pizza">
  <div *ngIf="pizza">
    <img [src]="url+pizza.path" class="pizza-cart-card-item-image">
    <ion-icon class="pizza-cart-card-item-delete"
              (click)="onDelete(cartElement.id)"
              slot="end"
              size="large"
              name="trash-outline"></ion-icon>
    <div class="pizza-cart-card-item-content">
      <ion-card-title class="pizza-cart-card-item-content-tittle">
        {{pizza.name}}
      </ion-card-title>
      <div class="pizza-cart-card-item-content-size">
        {{cartElement.size}}
      </div>
      <ion-card-content>
        {{cartElement.description}}
      </ion-card-content>
    </div>
    <div class="pizza-cart-card-item-buttons">
        <button [style]="themeService.data.value.isDarkTheme ? 'color: white; background-color: #1e2023' : 'color: black; background-color: white'"
                ion-button icon-only clear
                style="border-radius: 100%; background-color: black"
                [disabled]="count <= 1"
                (click)="onDec()">
          <ion-icon  name="remove-circle-outline"  slot="icon-only" size="large"></ion-icon></button>
      {{count}}
      <ion-icon (click)="onInc()"
                size="large"
                name="add-circle-outline"></ion-icon>
    </div>
  </div>
  <div>
    <div class="pizza-cart-card-item-price">
      {{price}}
    </div>
  </div>
</div>
<div class="pizza-cart-card-item" *ngIf="drink">
  <div>
    <img [src]="urlDrink + drink.path" class="pizza-cart-card-item-image">
    <ion-icon class="pizza-cart-card-item-delete"
              (click)="onDelete(cartElement.id)"
              slot="end"
              size="large"
              name="trash-outline"></ion-icon>
    <div class="pizza-cart-card-item-content">
      <ion-card-title class="pizza-cart-card-item-content-tittle">
        {{drink.name}}
      </ion-card-title>
      <ion-card-content>
        {{drink.volume}}
      </ion-card-content>
    </div>
    <div class="pizza-cart-card-item-buttons">
      <button [style]="themeService.data.value.isDarkTheme ? 'color: white; background-color: #1e2023' : 'color: black; background-color: white'"
              ion-button icon-only clear
              style="border-radius: 100%; background-color: black"
              [disabled]="count <= 1"
              (click)="onDec()">
        <ion-icon  name="remove-circle-outline"  slot="icon-only" size="large"></ion-icon></button>
      {{count}}
      <ion-icon (click)="onInc()"
                size="large"
                name="add-circle-outline"></ion-icon>
    </div>
  </div>
  <div >
    <div class="pizza-cart-card-item-price">
      {{price}}
    </div>
  </div>
</div>
<div class="pizza-cart-card-item" *ngIf="snack">
  <div>
    <img [src]="urlSnack + snack.path" class="pizza-cart-card-item-image">
    <ion-icon class="pizza-cart-card-item-delete"
              (click)="onDelete(cartElement.id)"
              slot="end"
              size="large"
              name="trash-outline"></ion-icon>
    <div class="pizza-cart-card-item-content">
      <ion-card-title class="pizza-cart-card-item-content-tittle">
        {{snack.name}}
      </ion-card-title>
      <ion-card-content>
        {{snack.volume}}
      </ion-card-content>
    </div>
    <div class="pizza-cart-card-item-buttons">
      <button [style]="themeService.data.value.isDarkTheme ? 'color: white; background-color: #1e2023' : 'color: black; background-color: white'"
              ion-button icon-only clear
              style="border-radius: 100%; background-color: black"
              [disabled]="count <= 1"
              (click)="onDec()">
        <ion-icon  name="remove-circle-outline"  slot="icon-only" size="large"></ion-icon></button>
      {{count}}
      <ion-icon (click)="onInc()"
                size="large"
                name="add-circle-outline"></ion-icon>
    </div>
  </div>
  <div>
    <div class="pizza-cart-card-item-price">
      {{price}}
    </div>
  </div>
</div>
<div class="pizza-cart-card-item" *ngIf="dessert">
  <div>
    <img [src]="urlDessert + dessert.path" class="pizza-cart-card-item-image">
    <ion-icon class="pizza-cart-card-item-delete"
              (click)="onDelete(cartElement.id)"
              slot="end"
              size="large"
              name="trash-outline"></ion-icon>
    <div class="pizza-cart-card-item-content">
      <ion-card-title class="pizza-cart-card-item-content-tittle">
        {{dessert.name}}
      </ion-card-title>
      <ion-card-title>
        {{dessert.volume}}
      </ion-card-title>
    </div>
    <div class="pizza-cart-card-item-buttons">
      <button [style]="themeService.data.value.isDarkTheme ? 'color: white; background-color: #1e2023' : 'color: black; background-color: white'"
              ion-button icon-only clear
              style="border-radius: 100%; background-color: black"
              [disabled]="count <= 1"
              (click)="onDec()">
        <ion-icon  name="remove-circle-outline"  slot="icon-only" size="large"></ion-icon></button>
      {{count}}
      <ion-icon (click)="onInc()"
                size="large"
                name="add-circle-outline"></ion-icon>
    </div>
  </div>
  <div>
    <div class="pizza-cart-card-item-price">
      {{price}}
    </div>
  </div>
</div>
</ion-card>
