<ion-header>
  <ion-toolbar>
    <ion-title>user-password-reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-auth"
            [style]="themeService.data.value.isDarkTheme ? 'background-color: black; color: white' : 'background-color: white; color: black'">
    <h2 style="text-align: center">Forget your password or Login?</h2>
    <form [formGroup]="reminderForm">
      <ng-template>Fill out your email address</ng-template>
      <ion-item [style]="themeService.data.value.isDarkTheme ? 'width: 100%;box-shadow: 0 1px 0;' :'width: 100%'">
        <ion-label [style]="themeService.data.value.isDarkTheme ? 'color: white' : 'color: black'">
          Email
        </ion-label>
        <ion-input
               placeholder="Email"
               [formControl]="email" required>
        </ion-input>
      </ion-item>
    </form>
    <ion-button

             (click)="onRemindPassword(reminderForm)"
             [disabled]="reminderForm.invalid"
             style="left: 70%; background-color: white; margin-top: 5%">
      Send
    </ion-button>
    <div *ngIf="error" class="card-auth-error">
      <a>{{error}}</a>
    </div>
  </ion-card>

</ion-content>
