<ion-header>
  <ion-toolbar [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-title>drinks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'"
    *ngFor="let drink of drinks">
    <ion-item [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label><img [src]="url+drink.path"
                      class="drink-card-image"
      ></ion-label>
      <ion-button fill="outline" slot="end" (click)="onDrinkDetail(drink.id)">View</ion-button>
    </ion-item>

    <ion-card-content>
      {{drink.volume}}
      <h4>
        {{drink.name}} - {{drink.price}}
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
