<ion-header>
  <ion-toolbar [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
    <ion-title>dessert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
  <ion-card [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'"
            *ngFor="let dessert of desserts">
    <ion-item [color]="themeService.data.value.isDarkTheme ? 'dark' : 'light'">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label><img [src]="url+dessert.path"
                      class="dessert-card-image"
      ></ion-label>
      <ion-button fill="outline" slot="end" (click)="chooseDessert(dessert.id)">View</ion-button>
    </ion-item>

    <ion-card-content>
      {{dessert.description}}
      <h4>
        {{dessert.name}} - {{dessert.price}}
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>
